@use 'variables';
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: variables.$margin-base;
  margin-top: variables.$margin-xlarge;

  .contact-title {
    font-size: variables.$font-size-subtitle;
    color: variables.$primary-color;
  }

  .contact-info {
    font-size: variables.$font-size-base;
    color: white;

    a {
      color: #fffb;
      text-decoration: none;
      transition: color variables.$transition-base;

      &:hover {
        color: #6e6eb3;
      }
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: variables.$margin-large;
    width: 100%;
    max-width: 500px;

    input,
    textarea {
      width: 100%;
      padding: variables.$padding-base;
      border: none;
      border-radius: variables.$border-radius;
      font-size: variables.$font-size-base;
      background-color: variables.$secondary-color;
      box-shadow: variables.$secondary-color 0px 0px 8px;
      resize: none;
      color: white;
      transition: opacity .5s ease, box-shadow .5s ease;
      &:hover{
        box-shadow: variables.$primary-color 0 0 5px;
        opacity: .8;
      }
      &:focus {
        outline: none;
        box-shadow: variables.$primary-color 0px 0px 5px;
        opacity: 1;
      }
    }

    button {
      padding: variables.$padding-base;
      background-color: variables.$primary-color;
      color: variables.$secondary-color;
      border: none;
      border-radius: variables.$border-radius;
      font-size: variables.$font-size-base;
      cursor: pointer;
      transition: background variables.$transition-base;

      &:hover {
        background-color: variables.$hover-color;
      }
    }
  }
}