@use 'variables';
footer {
  background-color: variables.$footer-bg-color;
  padding: variables.$padding-large;
  text-align: center;
  color: white;
  font-size: variables.$font-size-small;

  .footer-social-links,
  .footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: variables.$margin-base;
    padding: 0;
    margin: variables.$margin-base 0;

    li {
      a {
        color: white;
        text-decoration: none;
        transition: color variables.$transition-base;

        &:hover {
          color: variables.$hover-color;
        }

        img {
          width: 40px;
          aspect-ratio: 1/1;
          filter: brightness(0.6) drop-shadow(0 0 3px white);
          z-index: 1;
          transition: transform .3s, filter .2s ease;
          overflow: hidden;
          border: 1px solid white;
          border-radius: 20%;

          &:hover {
            filter: brightness(1) drop-shadow(0 0 5rem white);
            transform: scale(1.3);
            
          }
        }
      }
    }
  }
}