@use 'variables';
header {
  background-color: variables.$secondary-color;
  padding: variables.$padding-base variables.$padding-large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: variables.$box-shadow-base;

  .brand-title {
    display: flex;
    align-items: center;
    gap: 10px;
    outline: none;
    border: none;
    text-decoration: none;
    &:focus, &:active{
      outline: none;
      border: none;
      box-shadow: none;
    }
    img{
      width: 40px;
      aspect-ratio: 1/1;
    }
    h1{
      font-size: variables.$font-size-large;
      color: variables.$primary-color;
      font-weight: bold;
    }
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      gap: variables.$margin-base;

      li {
        a {
          text-decoration: none;
          color: white;
          font-size: variables.$font-size-base;
          padding: variables.$padding-base variables.$padding-large;
          border-radius: variables.$border-radius;
          transition: background variables.$transition-base, color variables.$transition-base;

          &:hover {
            background: variables.$hover-color;
            color: variables.$secondary-color;
          }
        }
      }
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;

    span {
      height: 3px;
      width: 25px;
      background: white;
      margin-bottom: 4px;
      border-radius: variables.$border-radius;
    }
  }
}